/develop/client
/binary/windows/client/aspect
/binary/windows/client/asset
/binary/windows/client/download
/binary/windows/client/log
/binary/windows/client/storage
/binary/windows/client/update
/binary/windows/client/autoup.exe
/develop/agent
/develop/game
/develop/social
/binary/windows/agent/aspect
/binary/windows/agent/autoup.exe
/binary/windows/game/aspect
/binary/windows/game/autoup.exe
/binary/windows/social/aspect
/binary/windows/social/autoup.exe
/binary/windows/agent/asset
/binary/windows/agent/download
/binary/windows/agent/log
/binary/windows/agent/storage
/binary/windows/agent/update
/binary/windows/game/asset
/binary/windows/game/download
/binary/windows/game/log
/binary/windows/game/storage
/binary/windows/game/update
/binary/windows/social/update
/binary/windows/social/storage
/binary/windows/social/log
/binary/windows/social/download
/binary/windows/social/asset
